# See also:
# - https://github.com/blog/2392-introducing-code-owners
# - https://help.github.com/articles/about-codeowners/

# Each line is a file pattern followed by one or more owners (sorted alphabetically).
# Please feel free to add yourself to a module or create a new mapping.
# Ideally each module should have two or more owners.

# Code owners are automatically requested for review
# when someone opens a pull request that modifies code that they own.
# Later matches take precedence.

compiler/src/dmd/access.d @MartinNowak
compiler/src/dmd/astbase* @RazvanN7
compiler/src/dmd/astcodegen.d @RazvanN7
compiler/src/dmd/asttypename.d @UplinkCoder
compiler/src/dmd/attrib.d @Geod24
compiler/src/dmd/builtin.d @klickvebot @WalterBright
compiler/src/dmd/cond.d @Geod24
compiler/src/dmd/console.d @CyberShadow
compiler/src/dmd/cppmangle.d @ibuclaw @Geod24
compiler/src/dmd/cparse.d @ibuclaw @WalterBright
compiler/src/dmd/ctfeexpr.d @UplinkCoder
compiler/src/dmd/doc.d @andralex @jacob-carlborg
compiler/src/dmd/dscope.d @Geod24
compiler/src/dmd/hdrgen.d @UplinkCoder @WalterBright
compiler/src/dmd/iasm.d @ibuclaw @WalterBright
compiler/src/dmd/iasmdmd.d @WalterBright
compiler/src/dmd/iasmgcc.d @ibuclaw
compiler/src/dmd/mars.d @MartinNowak @Geod24 @rainers @UplinkCoder @WalterBright
compiler/src/dmd/objc* @jacob-carlborg
compiler/src/dmd/permissivevisitor.d @RazvanN7
compiler/src/dmd/target.d @ibuclaw @MartinNowak
compiler/src/dmd/transitivevisitor.d @RazvanN7
compiler/src/dmd/vcbuild @rainers

# GitHub's implementation of the CODEOWNERS format is buggy, it doesn't allow src/dmd/*.h
*.h @ibuclaw @klickverbot

# CI & automation
posix.mak @MartinNowak @wilzbach
src/posix.mak @MartinNowak @wilzbach
circle.sh @MartinNowak @wilzbach
